[build]
  command = "npm run build"
  publish = "out"

[build.environment]
  NODE_VERSION = "18"
  NODE_ENV = "production"
  NETLIFY_DEBUG = "true"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200